<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <form action="result" method="post">
            Name: <input type="text" name="name"><br>
            Dojo Location: <select name="location"><br>
                <option value="san_jose">San Jose</option>
                <option value="seattle">Seattle</option>
                <option value="los_angeles">Los Angeles</option>
                <option value="san_francisco">San Francisco</option>
            </select><br>
            Favorite Language: <select name="language">
                <option value="python">Python</option>
                <option value="javascript">Javascript</option>
                <option value="csharp">C#</option>
                <option value="ios">IOS</option>
            </select><br>
            Comment (optional): <textarea name="comment" cols="40" rows="10"></textarea><br>
            <input type="submit" value="Submit your info!">
        </form>
    </body>
</html>